*{ 
    box-sizing:border-box;
   
}

body{
    place-items:center;
    display:grid;
    width:100%
    
}
    .container {
        font-size: 30px;
        border-radius: 4px;
        padding: 5px;
        box-shadow: 0 0 10px;
        max-height: 100vh; /* Adjust the maximum height as needed */
        overflow-y: auto; /* Add a scrollbar if the content exceeds the height */
      }

.view_img{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(45, 44, 43, 0.086);
} 
.disabled .view_img{
    pointer-events: none;
    opacity:.5;
    
}
.view_img img{
    width:88%;
    height:60%;
    object-fit:contain;
}
.icons_filters{
    display:flex;
    flex-direction:column;
    justify-content:center;
    border-radius:4px;
    border:1px solid rgba(24, 23, 23, 0.963)

}
.icons_room{
    display:flex;
    width:100%;
    padding-top: 5%;
    justify-content: space-around;
    align-items:center;
}
.icons_room2{
    display:flex;
    width:50%;
    padding-top: 10%;
    align-items:center;
}

.icons_room2 button{
    border:none;
    outline:none;
    margin-right:20px;
    margin-left: 20px;
}
.icons_room button{
    border:none;
    outline:none;
}
.icons_room2 img {
    width: 20px; /* Adjust this value to control the image size */
}
.icons_room img {
    width: 20px; /* Adjust this value to control the image size */
}
.icons_room1{
    display:flex;
    width:100%;
    padding-top: 10%;
    justify-content: space-around;
    align-items:center;
}
.icons_room1 button{
    border:none;
    outline:none;
}
.icons_room1 img {
    width: 20px; /* Adjust this value to control the image size */ 
}
.container h1{
    text-align:center;
    font-family: "Gill Sans Extrabold", sans-serif;
    text-transform:capitalize;
    
}
.choose_img{
    width:200%;
    place-items:center;
    padding-top: 10px;;
    padding-bottom:10px ;
    padding-left: 110px;
}
.choose_img button{
    display:flex;
        font-size:1rem;
        border:none;
        outline:none;
        background-color:cadetblue;
        border-radius:4px;
        cursor:pointer;
        width:20%;
        height:20%;

}
.choose_img button img{
    width:20px;
    height:20px;
}
.slider{
    width:100%
}
.disabled .slider{
    pointer-events: none;
    opacity:.5;
    
}
.slider input[type= "range"]{
    width:100%;

}
.slider .filter_view{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:1rem;
    text-transform:capitalize;
    font-family: "Gill Sans Extrabold", sans-serif;
}
.icons_filters{
    width:100%;
    padding:10px;
    margin-bottom:5px;
}
.disabled .icons_filters{
    pointer-events: none;
    opacity:.5;
    
}
.icons_filters p{
    text-transform:capitalize;
    padding-top:2vh;
    margin-bottom:3px;
    font-size: 2rem;
    font-family:"Gill Sans Extrabold", sans-serif;
}
.active{
    background-color:rgb(65, 194, 138);
    padding:4px;
    border-radius:50%;
}
.icons_room1 button:last-child{
    transform:rotate(90deg);
}
.btn_contain button:first-child:hover{
    background-color: rgb(230, 74, 22);
    color:aliceblue;
}
.btn_contain button:last-child:hover{
    background-color: rgb(212, 215, 13);
    color:aliceblue;
}







